<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name = "Grouping">
        <groups>
            <run>
                <exclude name="Sanity"/>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
        <class name="groupingtest.GroupingExample"/>
        </classes>
    </test>
</suite>